@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.stg {
  background: #161616;
  width: 400px;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  left: -600px;
  position: fixed;
  transition: all 600ms linear;
  z-index: 2;
}
.stg div {
  margin-bottom: 20px;
}
.stg div label {
  font-size: 20px;
}

.stg.active {
  left: 0;
}

.stg-top {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  border-bottom: 1px solid #01ff01;
  padding: 10px;
  margin-top: 2rem;
}
.stg-top span {
  margin: auto;
  font-size: 28px;
}
.stg-top i {
  color: #ff4136;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stg-arr, .stg-mls, .stg-save {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: space-evenly;
}

.stg-save {
  padding: 0 8rem;
}
.stg-save button {
  font-size: 16px;
  color: #212326;
  height: 2.6rem;
  background: #01ff01;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.stg-status {
  display: flex;
  justify-content: center;
}
.stg-status p {
  color: #01ff01;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.buttons button {
  width: 18rem;
  height: 3rem;
  border: none;
  border-radius: 4px;
}
.buttons .sort {
  background: #01ff01;
}
.buttons .disorder {
  background: #ff4136;
}

body {
  background: #212326;
  color: #f0f8ff;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  place-items: center;
}
header i {
  font-size: 1.9rem;
  cursor: pointer;
}
header h1 {
  font-weight: 500;
  font-size: 2.2rem;
}

main {
  display: grid;
  grid-template-rows: 5fr 1fr;
}
main .bars-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
main .bars-layout div {
  height: 100px;
  background: cornflowerblue;
}
main .bars-layout div:first-child:nth-last-child(1),
main .bars-layout div:first-child:nth-last-child(1) ~ div {
  width: calc(100% / 1 - 5px);
}
main .bars-layout div:first-child:nth-last-child(2),
main .bars-layout div:first-child:nth-last-child(2) ~ div {
  width: calc(100% / 2 - 5px);
}
main .bars-layout div:first-child:nth-last-child(3),
main .bars-layout div:first-child:nth-last-child(3) ~ div {
  width: calc(100% / 3 - 5px);
}
main .bars-layout div:first-child:nth-last-child(4),
main .bars-layout div:first-child:nth-last-child(4) ~ div {
  width: calc(100% / 4 - 5px);
}
main .bars-layout div:first-child:nth-last-child(5),
main .bars-layout div:first-child:nth-last-child(5) ~ div {
  width: calc(100% / 5 - 5px);
}
main .bars-layout div:first-child:nth-last-child(6),
main .bars-layout div:first-child:nth-last-child(6) ~ div {
  width: calc(100% / 6 - 5px);
}
main .bars-layout div:first-child:nth-last-child(7),
main .bars-layout div:first-child:nth-last-child(7) ~ div {
  width: calc(100% / 7 - 5px);
}
main .bars-layout div:first-child:nth-last-child(8),
main .bars-layout div:first-child:nth-last-child(8) ~ div {
  width: calc(100% / 8 - 5px);
}
main .bars-layout div:first-child:nth-last-child(9),
main .bars-layout div:first-child:nth-last-child(9) ~ div {
  width: calc(100% / 9 - 5px);
}
main .bars-layout div:first-child:nth-last-child(10),
main .bars-layout div:first-child:nth-last-child(10) ~ div {
  width: calc(100% / 10 - 5px);
}
main .bars-layout div:first-child:nth-last-child(11),
main .bars-layout div:first-child:nth-last-child(11) ~ div {
  width: calc(100% / 11 - 5px);
}
main .bars-layout div:first-child:nth-last-child(12),
main .bars-layout div:first-child:nth-last-child(12) ~ div {
  width: calc(100% / 12 - 5px);
}
main .bars-layout div:first-child:nth-last-child(13),
main .bars-layout div:first-child:nth-last-child(13) ~ div {
  width: calc(100% / 13 - 5px);
}
main .bars-layout div:first-child:nth-last-child(14),
main .bars-layout div:first-child:nth-last-child(14) ~ div {
  width: calc(100% / 14 - 5px);
}
main .bars-layout div:first-child:nth-last-child(15),
main .bars-layout div:first-child:nth-last-child(15) ~ div {
  width: calc(100% / 15 - 5px);
}
main .bars-layout div:first-child:nth-last-child(16),
main .bars-layout div:first-child:nth-last-child(16) ~ div {
  width: calc(100% / 16 - 5px);
}
main .bars-layout div:first-child:nth-last-child(17),
main .bars-layout div:first-child:nth-last-child(17) ~ div {
  width: calc(100% / 17 - 5px);
}
main .bars-layout div:first-child:nth-last-child(18),
main .bars-layout div:first-child:nth-last-child(18) ~ div {
  width: calc(100% / 18 - 5px);
}
main .bars-layout div:first-child:nth-last-child(19),
main .bars-layout div:first-child:nth-last-child(19) ~ div {
  width: calc(100% / 19 - 5px);
}
main .bars-layout div:first-child:nth-last-child(20),
main .bars-layout div:first-child:nth-last-child(20) ~ div {
  width: calc(100% / 20 - 5px);
}
main .bars-layout div:first-child:nth-last-child(21),
main .bars-layout div:first-child:nth-last-child(21) ~ div {
  width: calc(100% / 21 - 5px);
}
main .bars-layout div:first-child:nth-last-child(22),
main .bars-layout div:first-child:nth-last-child(22) ~ div {
  width: calc(100% / 22 - 5px);
}
main .bars-layout div:first-child:nth-last-child(23),
main .bars-layout div:first-child:nth-last-child(23) ~ div {
  width: calc(100% / 23 - 5px);
}
main .bars-layout div:first-child:nth-last-child(24),
main .bars-layout div:first-child:nth-last-child(24) ~ div {
  width: calc(100% / 24 - 5px);
}
main .bars-layout div:first-child:nth-last-child(25),
main .bars-layout div:first-child:nth-last-child(25) ~ div {
  width: calc(100% / 25 - 5px);
}
main .bars-layout div:first-child:nth-last-child(26),
main .bars-layout div:first-child:nth-last-child(26) ~ div {
  width: calc(100% / 26 - 5px);
}
main .bars-layout div:first-child:nth-last-child(27),
main .bars-layout div:first-child:nth-last-child(27) ~ div {
  width: calc(100% / 27 - 5px);
}
main .bars-layout div:first-child:nth-last-child(28),
main .bars-layout div:first-child:nth-last-child(28) ~ div {
  width: calc(100% / 28 - 5px);
}
main .bars-layout div:first-child:nth-last-child(29),
main .bars-layout div:first-child:nth-last-child(29) ~ div {
  width: calc(100% / 29 - 5px);
}
main .bars-layout div:first-child:nth-last-child(30),
main .bars-layout div:first-child:nth-last-child(30) ~ div {
  width: calc(100% / 30 - 5px);
}
main .bars-layout div:first-child:nth-last-child(31),
main .bars-layout div:first-child:nth-last-child(31) ~ div {
  width: calc(100% / 31 - 5px);
}
main .bars-layout div:first-child:nth-last-child(32),
main .bars-layout div:first-child:nth-last-child(32) ~ div {
  width: calc(100% / 32 - 5px);
}
main .bars-layout div:first-child:nth-last-child(33),
main .bars-layout div:first-child:nth-last-child(33) ~ div {
  width: calc(100% / 33 - 5px);
}
main .bars-layout div:first-child:nth-last-child(34),
main .bars-layout div:first-child:nth-last-child(34) ~ div {
  width: calc(100% / 34 - 5px);
}
main .bars-layout div:first-child:nth-last-child(35),
main .bars-layout div:first-child:nth-last-child(35) ~ div {
  width: calc(100% / 35 - 5px);
}
main .bars-layout div:first-child:nth-last-child(36),
main .bars-layout div:first-child:nth-last-child(36) ~ div {
  width: calc(100% / 36 - 5px);
}
main .bars-layout div:first-child:nth-last-child(37),
main .bars-layout div:first-child:nth-last-child(37) ~ div {
  width: calc(100% / 37 - 5px);
}
main .bars-layout div:first-child:nth-last-child(38),
main .bars-layout div:first-child:nth-last-child(38) ~ div {
  width: calc(100% / 38 - 5px);
}
main .bars-layout div:first-child:nth-last-child(39),
main .bars-layout div:first-child:nth-last-child(39) ~ div {
  width: calc(100% / 39 - 5px);
}
main .bars-layout div:first-child:nth-last-child(40),
main .bars-layout div:first-child:nth-last-child(40) ~ div {
  width: calc(100% / 40 - 5px);
}
main .bars-layout div:first-child:nth-last-child(41),
main .bars-layout div:first-child:nth-last-child(41) ~ div {
  width: calc(100% / 41 - 5px);
}
main .bars-layout div:first-child:nth-last-child(42),
main .bars-layout div:first-child:nth-last-child(42) ~ div {
  width: calc(100% / 42 - 5px);
}
main .bars-layout div:first-child:nth-last-child(43),
main .bars-layout div:first-child:nth-last-child(43) ~ div {
  width: calc(100% / 43 - 5px);
}
main .bars-layout div:first-child:nth-last-child(44),
main .bars-layout div:first-child:nth-last-child(44) ~ div {
  width: calc(100% / 44 - 5px);
}
main .bars-layout div:first-child:nth-last-child(45),
main .bars-layout div:first-child:nth-last-child(45) ~ div {
  width: calc(100% / 45 - 5px);
}
main .bars-layout div:first-child:nth-last-child(46),
main .bars-layout div:first-child:nth-last-child(46) ~ div {
  width: calc(100% / 46 - 5px);
}
main .bars-layout div:first-child:nth-last-child(47),
main .bars-layout div:first-child:nth-last-child(47) ~ div {
  width: calc(100% / 47 - 5px);
}
main .bars-layout div:first-child:nth-last-child(48),
main .bars-layout div:first-child:nth-last-child(48) ~ div {
  width: calc(100% / 48 - 5px);
}
main .bars-layout div:first-child:nth-last-child(49),
main .bars-layout div:first-child:nth-last-child(49) ~ div {
  width: calc(100% / 49 - 5px);
}
main .bars-layout div:first-child:nth-last-child(50),
main .bars-layout div:first-child:nth-last-child(50) ~ div {
  width: calc(100% / 50 - 5px);
}

/*# sourceMappingURL=style.css.map */
